<header class="header__menu">
	<a href="index.html" class="header__menu-link">Главная</a>
	<a href="checkbox.html" class="header__menu-link">Checkbox</a>
	<a href="accordion.html" class="header__menu-link">Accordion</a>
	<a href="buttons.html" class="header__menu-link">Buttons</a>
	<a href="custom-select.html" class="header__menu-link">Custom-select</a>
	<a href="d-none-block.html" class="header__menu-link">d-none-block</a>
	<a href="icons.html" class="header__menu-link">Icons</a>
	<a href="inputs-form.html" class="header__menu-link">Inputs-form</a>
	<a href="mobile-menu-1.html" class="header__menu-link">Mobile-menu-1</a>
	<a href="plans-popup.html" class="header__menu-link">Popup</a>
	<a href="tabs.html" class="header__menu-link">Tabs</a>
</header>
