// Start: Кнопка с синей заливкой
.primary-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	font-size: 16px;
	letter-spacing: 0.5px;
	padding: 0 24px;
	border-radius: 4px;
	border: 2px solid transparent;
	color: #fff;
	background: #1991eb;
	transition: 0.2s;

	&:focus-visible {
		background: #1991eb;
		border: 2px solid #7bb9f0;
	}
	&:hover,
	&:active {
		background: #127fd1;
	}
}
// End: Кнопка с синей заливкой

// Start: прозрачная кнопка без заливки
.secondary-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	font-size: 16px;
	letter-spacing: 0.5px;
	border: 1px solid #e0e0e0;
	padding: 0 24px;
	color: #757575;
	background: transparent;
	border-radius: 4px;
	transition: 0.2s;

	&:focus-visible {
		border: 2px solid #7bb9f0;
	}

	&:hover,
	&:active {
		border: 1px solid #757575;
		color: #424242;
		background: #fafafa;
	}

	&.--transparent {
		color: #8796a2;
		background: transparent;
		&:hover {
			@media (min-width: 897px) {
				color: #607d8b;
				border: 1px solid #90a4ae;
				background: #fafafa;
			}
		}
		&:active {
			color: #607d8b;
			border: 1px solid #90a4ae;
			background: #fafafa;
		}
	}

	&.--inactive {
		color: #e0e0e0;
		cursor: auto;
		&:hover,
		&:active {
			background: transparent;
			border: 1px solid #e0e0e0;
			color: #e0e0e0;
		}
	}

	&.--select {
		color: #42a5f5;
		border: 1px solid #42a5f5;
		background: transparent;
	}
}
// End: прозрачная кнопка без заливки

// Start: Наведение на иконки приложений
.appStore-googlePlay-wrapper {
	max-width: 350px;
	margin-top: 16px;
}

.appStore-googlePlay {
	display: flex;
	width: 100%;
}

.appStore,
.googlePlay {
	display: block;
	position: relative;
	width: 96px;
	height: 32px;
	border-radius: 5px;
	cursor: pointer;
	overflow: hidden;
}

.appStore-first,
.googlePlay-first {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	transition: all 0.3s ease;
}

.googlePlay {
	width: 108px;
	margin-left: 4px;
}

.appStore:hover .appStore-first,
.googlePlay:hover .googlePlay-first {
	opacity: 1;
}
// End: Наведение на иконки приложений

// Start: Кнопки закрытия
// Прозрачная кнопка закрытия с border
.close-btn-32 {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 32px;
	height: 32px;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	background: transparent;
	transition: all 0.2s;
	&:focus-visible {
		border: 2px solid #7bb9f0;
		background: #f4f6f6;
	}
	&:hover,
	&:active {
		background: #e0e0e0;
		color: #424242;

		& svg path {
			transition: all 0.2s;
			stroke: #757575;
		}
	}
}
// End: Кнопки закрытия
