.element {
	flex: 0 0 100px; // не может увеличиваться или уменьшаться, всегда 100px
	flex: 1 1 auto; // может как увеличиваться, так и уменьшаться
	flex: 1 1 25%;
	flex: 0 1 auto; // 0 - flex-grow (1 значение) 1 - flex-shrink (2 значение) auto - flex-basis (3 значение)
}